body {
  background-image: linear-gradient(to bottom right, rgba(163, 194, 222, 0.9), rgba(87, 149, 190, 0.1));
}

.intro {
  background-color: rgba(1, 38, 64, 0.7);
  background-image: linear-gradient(rgba(6, 98, 168, 0.695), rgba(8, 99, 168, 0.715)), url("background.jpeg");
  background-size: cover;
  opacity: 1;

}

.headshot {
  border-radius: 50%;
  border-style: solid;
  border-color:rgb(46, 148, 152);
  border-width: thick
}

.myinfo {
  color: white;
}

.project-card {
  border: none;
}

.project-card-header {
  background-image: linear-gradient(to right, rgba(9, 84, 137, 0.97),  rgba(9, 84, 137, 0.90));
}
